absl-py
astunparse
cachetools
certifi
charset-normalizer
click
flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
Pillow
protobuf==3.20.3
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
scikit-learn==1.0.2
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.8.0
termcolor
tf-estimator-nightly
threadpoolctl
typing-extensions
urllib3
Werkzeug
wrapt
zipp
